<div class="panel-body">
    <div class="row">
        <label for="rfc" class="sr-only">R.F.C.</label>
        <input type="text" id="rfc" name="rfc" class="form-control" placeholder="R.F.C." required>
    </div>

    <div class="row">
        <label for="razonSocial" class="sr-only">Nombre o Razón Social: </label>
        <input type="text" id="razonSocial" name="razonSocial" class="form-control" placeholder="Razón Social" required autofocus>
    </div>

    <!--<label for="razonSocial" class="sr-only">Régimen Fiscal: </label>
    <input type="text" id="razonSocial" name="razonSocial" class="form-control" placeholder="Razón Social" required autofocus>-->
    <div class="row">
        <label for="calleFacturacion" class="sr-only">Calle: </label>
        <input type="text" id="calleFacturacion" name="calleFacturacion" class="form-control" placeholder="Calle">
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 offset4">
                <label for="numExtFacturacion" class="sr-only">Numero exterior: </label>
                <input type="text" id="numExtFacturacion" name="numExtFacturacion" class="form-control" placeholder="Numero exterior">

                <label for="numIntFacturacion" class="sr-only">Numero interior: </label>
                <input type="text" id="numIntFacturacion" name="numIntFacturacion" class="form-control" placeholder="Numero interior">
            </div>
        </div>
    </div>



</div>