
body{
    padding: 15px;
}

.form-signin {
    padding: 5px;
    margin: 0 auto;
}

.form-signin input{
    margin-bottom: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.spaceOption{
    margin-left: 20px
}

.formRegistro{
    width: 90%;
}